[init]
	defaultBranch = main
[user]
	email = punsanford@gmail.com
	name = Sanford Pun
[core]
    eol = lf
    filemode = true
	autocrlf = input
[alias]
    logdog = log --decorate --oneline --graph
    cf = cat-file -p
